<div *ngIf="showAddFlightModal" class="flight-form-overlay" (click)="closeAddFlightModal()"></div>

<div *ngIf="showAddFlightModal" class="flight-form">
  <h2>Insert New Flight</h2>
  <form (ngSubmit)="submitFlight()">

    <div class="input-row">
      <div class="input-group">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Flight name</mat-label>
          <input matInput id="flightName" [(ngModel)]="flight.flightName" name="flightName" required />
        </mat-form-field>
      </div>

    </div>
    <div class="input-row">
      <div class="input-group">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Capacity
          </mat-label>
          <input matInput id="capacity" type="number" [(ngModel)]="flight.capacity" name="capacity" required />
        </mat-form-field>
      </div>

    </div>

    <div class="input-row">


      <div class="input-group">
        <mat-form-field appearance="fill">
          <mat-label>Flight type</mat-label>
          <mat-select [(value)]="flight.flightType">
            <mat-option *ngFor="let type of flightTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>
      <div class="input-group">
        <mat-form-field appearance="fill">
          <mat-label>Seat type</mat-label>
          <mat-select [(value)]="flight.seatType">
            <mat-option *ngFor="let type of seatTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>
    </div>


    <div class="input-row">
      <div class="input-group">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Max Passenger Weight (kg)
          </mat-label>
          <input matInput id="maximumWeightForPassenger" type="number" [(ngModel)]="flight.maximumWeightForPassenger"
            name="maximumWeightForPassenger" required />
        </mat-form-field>
      </div>

    </div>
    <div class="input-row">
      <div class="input-group">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Airline Service </mat-label>
          <input matInput id="airlineService" [(ngModel)]="flight.airlineService" name="airlineService"
            required />
        </mat-form-field>
      </div>

    </div>



    <button class="btn" type="submit">Submit</button>


  </form>


</div>
<mat-card class="flight-card">
  <mat-card-content>
    <div class="button-container">
      <button mat-raised-button color="primary" class="add-btn" (click)="openAddFlightModal()">Add Flight</button>
    </div>
    <app-flights  [flights]="flights"></app-flights>
  </mat-card-content>
</mat-card>


