<div class="stepper-wrapper">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="flightInfoForm">
      <form [formGroup]="flightInfoForm">
        <ng-template matStepLabel>Flight Info</ng-template>
        <app-ticket-view [scheduleList]="schedule"></app-ticket-view>

        <div class="btn-tab-next">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>



    <mat-step>
      <ng-template matStepLabel>Seat Info</ng-template>

      <mat-radio-group [(ngModel)]="seatOption" (ngModelChange)="handleSeatOptionChange()">
        <mat-radio-button value="choose">Choose seat</mat-radio-button>
        <mat-radio-button value="random">Random seat</mat-radio-button>
      </mat-radio-group>


      <div class="seat-tab">
        <airpline-seats [seats]="seats" (seatSelected)="onSeatSelected($event)"></airpline-seats>
      </div>


      <div class="selected-seat-info" *ngIf="selectedSeat">
        Selected Seat: <strong>{{ selectedSeat.seatNumber }}</strong>
      </div>

      <div class="button-row">
        <div class="btn-tab-back">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
        <div class="btn-tab-next">
          <button mat-button matStepperNext [disabled]="!selectedSeat">Next</button>
        </div>
      </div>
    </mat-step>


    <mat-step>

      <ng-template matStepLabel>Reservation info</ng-template>
      <div class="reservation-tab">




        <app-ticket-view [scheduleList]="schedule" [selectedSeat]="selectedSeat"
          (voucherChanged)="onVoucherChanged($event)" (finalPriceChanged)="onFinalPriceChanged($event)"
          (reservationCreated)="onReservationCreated($event)"></app-ticket-view>


      </div>

      <div class="button-row">
        <div class="btn-tab-back">

          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
        <div class="btn-tab-next">
          <button mat-button (click)="reserve()">Reserve</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>