<div class="chat-button" (click)="toggleChat()">
<span *ngIf="!isOpen" class="material-icons nav-icon">waving_hand</span>
  <span *ngIf="isOpen">✖</span>
</div>

<div class="chat-window" *ngIf="isOpen">
  <div class="chat-header">
    <strong>Need Help?</strong>
  </div>
  <div class="chat-body">
    <div class="chat-messages">
      <div *ngFor="let msg of chatMessages">
        <div class="message" [ngClass]="msg.sender === 'user' ? 'user-message' : 'bot-message'">
          <strong>{{ msg.sender === 'user' ? 'You' : 'AeroDream' }}:</strong> {{ msg.text }}
        </div>
      </div>
      <div *ngIf="isLoading" class="spinner-message bot-message">
        <span class="spinner"></span>
      </div>
    </div>
    <div class="chat-input">
      <input [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Type your message..." />
      <button type="button"  class="send-button" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
