mat-toolbar {
  background-color: #2e304c;
  color: rgba(237,235,221,255);
}

span {
  font-size: 1.25rem;
}

.spacer {
  flex: 1 1 auto;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.material-icons {
  font-size: 36px;
  cursor: pointer;
  color:  
  rgba(237,235,221,255); 

}

.material-icons:hover {
  color: #8d8e9fe9;
  transition: color 0.3s ease, transform 0.3s ease;
}
