body, html {
    height: 100%;
    margin: 0;
   
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    /* margin: 100px auto; */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8); /* Slight opacity to see background */
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .button-row{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

  }
  button {
    padding: 10px 15px;
    background-color:#2e304c;
    color: #fff;
    font-size: 16px;
    width: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color:#484b75e9;
  }
  
  .forgot-password {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 0.875rem;
    color: #007bff;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
