@use '@angular/material' as mat;


.flight-selector-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full viewport height */
  background-color: #f4f4f4;
  padding: 20px;
}

mat-card {
  max-width: 1500px; /* Max width of the card */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}



/* Date Picker Row */
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100vh;
}

/* Date Pickers */
mat-form-field {
  flex: 1; /* Each date picker will take equal space */
}

mat-hint {
  font-size: 0.875rem;
  color: #888;
}

/* Button */
button {
  align-self: center;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #1976d2;
}

button:disabled:hover {
  background-color: #ccc;
}


