<div class="flight-selector-container">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="flightForm" (ngSubmit)="onSubmit()">
          <div class="date-picker-row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>City From</mat-label>
            <input matInput placeholder="Enter departure city" formControlName="fromCity" required />
          </mat-form-field>
  
          <!-- To City -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>City To</mat-label>
            <input matInput placeholder="Enter destination city" formControlName="toCity" required />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Select Country</mat-label>
            <mat-select [(value)]="selectedCountry">
              <mat-option *ngFor="let country of countries" [value]="country.countryId">
                {{ country.countryName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <!-- Travel Dates in One Row
         
            Going Date Picker
            <mat-form-field>
              <mat-label>Going</mat-label>
              <input matInput [matDatepicker]="goingPicker" formControlName="goingDate" required />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="goingPicker"></mat-datepicker-toggle>
              <mat-datepicker #goingPicker></mat-datepicker>
            </mat-form-field>
  
            Return Date Picker -->
            <!-- <mat-form-field>
              <mat-label>Return</mat-label>
              <input matInput [matDatepicker]="returnPicker" formControlName="returnDate" required />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="returnPicker"></mat-datepicker-toggle>
              <mat-datepicker #returnPicker></mat-datepicker>
            </mat-form-field> -->
      
          <date-range-picker></date-range-picker>

        </div>
          <button mat-raised-button color="primary" type="submit" [disabled]="!flightForm.valid">Search Flights</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  