body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa; /* Light background for contrast */
}
button.material-icons.nav-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2e304c;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: background-color 0.1s ease;
}

button.material-icons.nav-icon:hover {
  background-color: #64689c;
}


.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}
.sign-up-form {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: center;
}

h2 {
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
}
.input-row {
  display: flex;
  gap: 20px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}


/* 
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
} */

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.2);
}
button {
  padding: 10px 15px;
  background-color: #2e304c;
  color: #fff;
  font-size: 16px;
  width: 50%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8d8e9fe9;

  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

.forgot-password {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  font-size: 0.875rem;
  color: #007bff;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  text-decoration: underline;
  color: #0056b3;
}

.success-message {
  color: green;
  margin-top: 15px;
  font-size: 0.875rem;
}

.error-message {
  color: red;
  margin-top: 15px;
  font-size: 0.875rem;
}

@media (max-width: 600px) {
  .sign-up-form {
    width: 100%;
    margin: 20px;
    padding: 25px;
  }

  h2 {
    font-size: 1.6rem;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
