<app-navbar></app-navbar>


<mat-tab-group>
    <mat-tab label="PROFILE">


        <div class="profile-container">
            <h2>User Profile</h2>
            <button mat-icon-button class="edit-button" (click)="readonlyMode = !readonlyMode" aria-label="Edit">
                <mat-icon>{{ readonlyMode ? 'edit' : 'close' }}</mat-icon>
            </button>
            <form (ngSubmit)="onSubmit()" class="profile-form">

                <div class="input-row">
                    <div class="input-group">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Username</mat-label>
                            <input matInput id="username" [(ngModel)]="user.username" name="username" required
                                [disabled]="readonlyMode" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-group">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input matInput id="email" [(ngModel)]="user.email" name="email" required
                                [disabled]="readonlyMode" />
                        </mat-form-field>
                    </div>
                </div>


                <div class="input-row">
                    <div class="input-group">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Firstname</mat-label>
                            <input matInput id="firstname" [(ngModel)]="user.firstname" name="firstname" required
                                [disabled]="readonlyMode" />
                        </mat-form-field>
                    </div>
                    <div class="input-group">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Lastname</mat-label>
                            <input matInput id="lastname" [(ngModel)]="user.lastname" name="lastname" required
                                [disabled]="readonlyMode" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-group">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Passport number</mat-label>
                            <input matInput id="passportNumber" [(ngModel)]="user.passportNumber" name="passportNumber"
                                required [disabled]="readonlyMode" />
                        </mat-form-field>
                    </div>
                    <div class="input-group">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Country</mat-label>
                            <input matInput id="country" [(ngModel)]="user.country" name="country" required
                                [disabled]="readonlyMode" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-group">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Phone number</mat-label>
                            <input matInput id="phoneNumber" [(ngModel)]="user.phoneNumber" name="phoneNumber" required
                                [disabled]="readonlyMode" />
                        </mat-form-field>
                    </div>
                    <div class="input-group">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Birthday</mat-label>
                            <input matInput id="birthday" [(ngModel)]="user.birthday" name="birthday" required
                                [disabled]="readonlyMode" />
                        </mat-form-field>
                    </div>

                </div>
                <label class="custom-file-upload" [class.disabled]="readonlyMode">
                    <input type="file" id="travelDocument" (change)="onFileSelected($event)" [disabled]="readonlyMode"
                        accept=".pdf,.jpg,.jpeg,.png" />
                    <span class="material-icons upload-icon">upload</span>
                    Upload Document
                </label>

                <div *ngIf="selectedFileName" class="file-name">
                    Selected: {{ selectedFileName }}
                </div>


                <button type="submit" class="save-btn" [disabled]="readonlyMode">Save Profile</button>
            </form>
        </div>



    </mat-tab>
    <mat-tab label="BOOKINGS">
        <reservation></reservation>
    </mat-tab>
    <mat-tab label="VAUCHERS"> 
        <voucher></voucher>
    </mat-tab>
</mat-tab-group>