.profile-container {
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 40px;
}

.form-row .form-group {
  flex: 1;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-row {
  display: flex;
  gap: 20px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.save-btn {
  align-self: center;
  margin-top: 20px;
  padding: 10px;
  background-color:#2e304c;
  color: #fff;
  font-size: 16px;
  width: 40%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.save-btn:hover {
  background-color:#484b75e9;
}

.custom-file-upload {
  display: inline-flex;
  width: 150px;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4b4d67; /* blue */
  color: white;
  font-weight: 200;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  user-select: none;
  font-size: 14px;
  border: 2px solid transparent;
}

.custom-file-upload:hover:not(.disabled) {
  background-color: #8387b8;
}

.custom-file-upload.disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
  border-color: #888;
  color: #ddd;
}

input[type="file"] {
  display: none;
}

.upload-icon {
  font-size: 20px;
  vertical-align: middle;
}
.link-like {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
