<div class="panel-container" *ngIf="schedules.length > 0">
  <div class="panel-header" (click)="togglePanel()">
    <h3>Schedules</h3>
   
  </div>

  <div class="panel-body">
    <ng-container >
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 full-width-table" matSort>

        <!-- Flight Column -->
        <ng-container matColumnDef="flight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight</th>
          <td mat-cell *matCellDef="let schedule">
            <div>{{ schedule.flightInformation.flightName }}</div>
            <small>{{ schedule.flightInformation.airlineService }}</small>
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let schedule">{{ schedule.status }}</td>
        </ng-container>

        <!-- Arrival / Departure Column -->
        <ng-container matColumnDef="arrivalDeparture">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-arrivalDeparture">Arrival / Departure
          </th>
          <td mat-cell *matCellDef="let schedule">
            <div class="arrival-departure">
              <div class="segment">
                <div class="time">{{ schedule.departureTime }}</div>
                <div class="date">{{ schedule.departureDate | date: 'dd MMM (EEE)' }}</div>
              </div>
              <div class="arrow">➔</div>
              <div class="segment">
                <div class="time">{{ schedule.arrivalTime }}</div>
                <div class="date">{{ schedule.arrivalDate | date: 'dd MMM (EEE)' }}</div>
              </div>
            </div>
          </td>
        </ng-container>



        <!-- Source / Destination Column -->
        <ng-container matColumnDef="sourceDestination">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Source / Destination</th>
          <td mat-cell *matCellDef="let schedule">
            <div class="source-destination">
              <span class="airport">{{ schedule.startAirport }}</span>
              <span class="arrow">➔</span>
              <span class="airport">{{ schedule.endAirport }}</span>
            </div>
          </td>
        </ng-container>


        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let schedule">
            <button mat-icon-button color="primary" *ngIf="isAdmin"><mat-icon>visibility</mat-icon></button>
            <button mat-icon-button color="accent" *ngIf="isAdmin"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" *ngIf="isAdmin"><mat-icon>delete</mat-icon></button>
            <button *ngIf="!isAdmin">Book</button>

          </td>
        </ng-container>



        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-container>

    <!--
    <table *ngIf="!isAdmin && flightSchedules.length > 0" class="schedule-table custom-nonadmin">
      <thead>
        <tr>
          <th>Flight</th>
          <th>Status</th>
          <th>Arrival / Departure</th>
          <th>Source / Destination</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of flightSchedules">
          <td>
            <div>{{ schedule.flightInformation.flightName }}</div>
            <small>{{ schedule.flightInformation.airlineService }}</small> 
          </td>
          <td>{{ schedule.status }}</td>
          <td>
            <div class="stacked-values">
              <div>{{ schedule.arrivalDate | date:'short' }}</div>
              <div class="divider">|</div>
              <div>{{ schedule.departureDate | date:'short' }}</div>
            </div>
          </td>
          <td>
            <div class="stacked-values">
              <div>{{ schedule.startAirport }}</div>
              <div class="divider">|</div>
              <div>{{ schedule.endAirport }}</div>
            </div>
          </td>
          <td>
            <button class="btn" (click)="onButtonClick(schedule.id)">Book a flight</button>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>