

.flight-selector-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  background-color: #f4f4f4;
  padding: 20px;
}

mat-card {
  max-width: 1500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}



.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100vh;
}
.form-field {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
}


mat-form-field {
  flex: 1; 
}

mat-hint {
  font-size: 0.875rem;
  color: #888;
}

button {
  padding: 10px 15px;
  background-color: #2e304c;
  color: #fff;
  font-size: 16px;
  width: 20%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8d8e9fe9;

  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}