
<div>
  <div class="gif-container">
    <img src="../../assets/AIRLINE-TRAVEL.gif" alt="Airline Image">

  </div>

  <div *ngIf="isAdminUser" class="admin-home">
    <button mat-raised-button (click)="onButtonClick('manageFlights')">Manage flights</button>
    <button mat-raised-button (click)="onButtonClick('manage-schedules')">Manage schedules</button>
    <button mat-raised-button (click)="onButtonClick('manageAdmins')">Manage admins</button>
  </div>

  <div *ngIf="!isAdminUser" class="client-home">
    <button mat-raised-button (click)="onButtonClick('bookFlight')">Book a flight</button>
  </div>

</div>