<div class="tab-buttons">
  <button mat-button [color]="selectedTab === 'future' ? 'primary' : 'accent'" (click)="selectedTab = 'future'">
    Future Bookings
  </button>
  <button mat-button [color]="selectedTab === 'past' ? 'primary' : 'accent'" (click)="selectedTab = 'past'">
    Past Bookings
  </button>
</div>

<div *ngIf="selectedTab === 'future'">
  <div class="reservation-container" *ngIf="nextReservations.length > 0; else noFutureReservations">
    <app-ticket-view [scheduleList]="nextReservations"></app-ticket-view>
  </div>

  <ng-template #noFutureReservations>
    <p class="no-schedules">You don’t have future schedules.</p>
  </ng-template>
</div>

<div *ngIf="selectedTab === 'past'">
  <div class="reservation-container" *ngIf="pastReservations.length > 0; else noPastReservations">
    <app-ticket-view [scheduleList]="pastReservations"></app-ticket-view>
  </div>

  <ng-template #noPastReservations>
    <p class="no-schedules">You don’t have past bookings.</p>
  </ng-template>
</div>
